/* main elements */
*,
*:after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Cambria';
    font-size:14px;
    color:white;
    background:#276fd3; 
    overflow-x: hidden;
}
h1{
    font-size:4em;
}
textarea{
    outline: none;
    border:none;
    border-bottom: 1.5px solid gray;
    border-radius:0px;
    padding-left:0;
    font-size: 1rem;
}
textarea:focus{
    outline: none;
    border:none;
    box-shadow: none;
    border-color: transparent;
    border-bottom:2px solid red;
}
button{
    background:#276fd3 !important;
}
select{
    background-color:#162c3b;
    font-size:14px;
    border:none;
    border-bottom:1px solid gray;
    width:auto;
    height: auto;
    padding:5px;
}
select:focus{
    outline:none;
}
select:hover{
    cursor:pointer;
}
.w-full{
    background-color:#162c3b;
    color:white;
}
.mt-6 {
    margin-top: -8.5rem;
}
form input[type="text"], input[type="email"], input[type="password"]{
    outline: none;
    border:none;
    border-bottom: 1.5px solid gray;
    border-radius:0px;
    padding-left:0;
}
form input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    outline: none;
    border:none;
    box-shadow: none;
    border-color: transparent;
    border-bottom:2px solid red;
}
.form-input{
    background:none;
}
.container .formBx form .inputBox label{
    left:0;
    font-size:16px;
    font-weight:700;
    display:inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    transition: all 0.2s;
    margin-left:5px;
    color:white;
}
/* fa icons */
.fa{
    font-size:20px;
}
/* landing page */
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}
.banner .content{
    position: relative;
    max-width: 750px;
    text-align: center;
    z-index: 2;
}
.banner .content p{
    color:#fff;
    font-size:1.5em; 
}
.loginbuttons {
    margin-top:30px;
    position: relative;
    z-index: 9999;
}
.loginbuttons .btn{
    padding:20px;
    font-size:20px;
    border:1px solid white;
    margin-top:20px;
    width:200px;
    height:80px;
    background-color:transparent;
    display:inline-block;
}
.loginbuttons .btn{
    color:white;
}
.loginbuttons .btn:hover{
    background-color:white;
    color:black;
}
.btn-register{
    margin-left:10px;
}
/* register page */
.bg-gray-100{
    --bg-opacity: 0;
}
/* dashboard */
.dashboard-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin:20px;
}
.dashboard-container .card{
    margin:30px;
    background-color: #162c3b;
    min-height:300px;
    max-width:500px;
    border-radius:0.5rem;
}
.dashboard-container .card .content{
    padding:30px;
}
.dashboard-container .card .content h2{
    font-size:2em;
}
.dashboard-container .card .content p{
    font-style: italic;
    line-height: 30px;
}
.dashboard-container .card .content .normal-font{
    font-style: normal;
}
.dashboard-container .card .content a{
    text-decoration: underline;
}
.dashboard-container .card .header{
    background-color:white;
    width:100%;
    height:50px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding:15px;
    display: inline-block;
}
.dashboard-container .card .header .fa{
    color:black;
    padding-left:10px;
    float:right;
}
#topBtn{
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 22px;
    border-radius:100%;
    background:white !important;
    height:60px;
    width:60px;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
}
#topBtn .fa{
    color:black;
    font-size:20px;
}
.favorite{
    background:none !important;
    float:right;
}
.heart-black{
    color:black;
}
.heart-red{
    color:red !important;
}
.dashboard-container .no-jobs-jet{
    left:0;
    right:0;
    position: absolute;
    margin:0 auto;
    max-width: 400px;
    padding-left:10px;
}
.add-link{
    text-decoration: underline;
}
/* delete page */
.delete-header{
    color:black;
    font-size:25px;
    margin-top:-8px;
}
.delete-button{
    margin-top:20px;
    margin-right:20px;
    background:#CF2703 !important;
}
.delete-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.delete-container .card{
    width:500px;
}
/* Profile page */
.profile-style h3, p, label{
    color:white !important;
}
.profile-style button{
    border:none;
    color:white;
}
.profile-style button:hover{
    color:white;
}
.profile-style .py-5 {
    background-color:#162c3b;
}
.profile-style .py-3 {
    background-color:#162c3b;
}
.max-w-xl{
    color:white;
}
.text-gray-600{
    color:white;
}
.sm\:w-full {
    background-color:#162c3b;
}
/* responsive menu */
.text-gray-600 {
    color: #6b7280;
}
/* modal box */
.style-modal-box{
    background-color:#162c3b !important;
}
/* media queries */
@media (max-width:55em){
    .dashboard-container{
        grid-template-columns: auto auto;
    }
    .w-full{
        width:85%;
        border-radius: 0.5rem;
    }
    .mt-6 {
        margin-top: 1rem;
    }
}
@media (max-width:42.85em){
    .btn-register{
        margin-left:0px;
    }
    .dashboard-container{
        grid-template-columns: auto;
    }
    .delete-header-div{
        height:80px !important;
    }
    .delete-button{
        margin-right:32px;
        margin-top:0px;
    }
}
@media (min-width: 45.71em){
    .sm\:max-w-md {
        max-width: 55rem;
    }
}
@media (max-width: 22.85em){
    .delete-button{
        margin-bottom:20px;
        margin-top:0px;
        margin-right:15px;
    }
}
@media (max-width:20em){
    .dashboard-container{
        margin-left:-5px;
    }
    .delete-header-div{
        height:120px !important;
    }
}
@media (min-width:60em){
    .not-allowed-to-delete{
        margin-top:300px;
        transform: translateX(-20%);
    }
    .dashboard-container .no-jobs-jet{
        margin-top:300px;
    }
}

  

